@using Aula1505.Models 


@{
    ViewBag.Title = "Lista de categorias";
}

<h2>@ViewBag.Title</h2>



<table style="width:80%">
    <tr>
        <th>
            ID
        </th>
        <th>
            Nome
        </th>
        <th>
            Ativo
        </th>
    </tr>

    @foreach (Categoria categ in ViewBag.MinhasCategorias)
    {

        <tr>
            <td>
                @categ.CategoriaID
            </td>
            <td>
                @categ.Nome
            </td>
            <td>
                @categ.Ativo
            </td>

        </tr>

    }

</table>